Conversion_Workflow.json
{
  "name": "Conversion_Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70f6a4d0-73b6-4dbe-90e2-24ff2ed27307/log_event",
        "options": {
          "responseData": ""
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        -160
      ],
      "id": "f18666c6-aefd-4f97-bc57-da44d7273dd5",
      "name": "Webhook",
      "webhookId": "70f6a4d0-73b6-4dbe-90e2-24ff2ed27307"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        160
      ],
      "id": "22579208-33ad-43aa-b4ea-d299fcf94028",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -240,
        352
      ],
      "id": "b606cb09-db30-4c33-9d21-13bfb02f4ff2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "WJJLIOevwzvY1W2J",
          "mode": "list",
          "cachedResultName": "user_actions_for_today",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/WJJLIOevwzvY1W2J"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        16,
        224
      ],
      "id": "86092c86-d235-4205-ad1d-f0964c31f027",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst grouped = {};\n\nfor (const item of items) {\n  const key = item.json.user_id;\n\n  if (!grouped[key]) {\n    grouped[key] = [];\n  }\n\n  grouped[key].push(item.json);\n}\nreturn [{ json: grouped }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        224
      ],
      "id": "37665a05-07ba-4241-89a6-b0956530a4d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        208
      ],
      "id": "1512b8d8-a084-4fbb-8a3d-e5e3a55cbee3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "badjatyatoshika91311@gmail.com",
        "subject": "Potnetial conversion",
        "message": "=Your potential conversion for today is \n {{ $json.output }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Analysis is valid",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Valid"
                  },
                  {
                    "option": "Invalid"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        -48
      ],
      "id": "7b1cc776-bb6c-48f1-81c9-5b3f37bb37ae",
      "name": "Send a message",
      "webhookId": "20a1c322-536e-4784-bb30-edf7ecc2150c",
      "credentials": {
        "gmailOAuth2": {
          "id": "lnamS10NolTf7kDH",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const actions = [\n  \"song_created\",\n  \"song_downloaded\",\n  \"explored_advanced_options\",\n  \"explored_suno_mini\",\n  \"created_suno_mini\",\n  \"opened_craft_personality\",\n  \"craft_personality_created\",\n  \"song_created_with_craft_personality\",\n  \"suno_mini_shared\",\n  \"suno_mini_shared_with_tag\",\n  \"view_upgrade_option\",\n  \"upgrade_done\",\n  \"music_uploaded_on_platform\"\n];\nconst items = $input.all();\nconst filteredItems = items.filter((item) =>\n  actions.includes(item?.json?.body?.action),\n);\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "id": "e8ef1f23-fb03-47fb-8661-519d0e46609c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92b49364-7dc8-43c3-8a0b-5470b290e7c7",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -160
      ],
      "id": "e9b0ba00-0dfb-4eb5-a032-ff45785224b2",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "WJJLIOevwzvY1W2J",
          "mode": "list",
          "cachedResultName": "user_actions_for_today",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/WJJLIOevwzvY1W2J"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.body.userId }}",
            "user_name": "={{ $json.body.userName }}",
            "action_id": "={{ $json.body.action }}",
            "timestamp": "={{ $json.body.timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "action_id",
              "displayName": "action_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        400,
        -208
      ],
      "id": "9d476993-94cf-41db-9423-3d7f550dd880",
      "name": "Insert row"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have to work as a conversion evaluator of an app suno mini where user can create songs, mini songs and craft personality and share share the actions perform and predict the chances of conversion for the users use\n\nInput:\n{{ JSON.stringify($json, null, 2) }}\nOutput Format:- Return outpur conversion probablity value in percentage 100%. Just send the percentage value in output with username \n {{ $json.name }} = percent value\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        304
      ],
      "id": "6a471f99-5d24-4695-9a43-926a83134c8e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst combinedItems = [];\n\nObject.entries(items[0].json).forEach(([userId, actions]) => {\n\n  let actionsMap = {};\n\n  Object.values(actions).forEach((action) => {\n\n    if (actionsMap[action.action_id]) {\n\n      actionsMap[action.action_id].frequency += 1;\n      actionsMap[action.action_id].timestamp.push(action.timestamp);\n\n    } else {\n\n      actionsMap[action.action_id] = {\n        actionsId: action.action_id,\n        frequency: 1,\n        timestamp: [action.timestamp],\n      };\n\n    }\n\n  });\n\n  combinedItems.push({\n    userId: userId,\n    name: actions[0].user_name,\n    actions: Object.values(actionsMap)\n  });\n\n});\n\nreturn combinedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        224
      ],
      "id": "72c73801-d029-41d0-b64d-8301582d603a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        848,
        528
      ],
      "id": "8e966bd6-6ca4-4ee5-8f81-cdfbcf011c56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\n\nconst filtered = items.filter(item => {\n\n  const output = item.json.output || \"\";\n\n  // Extract percentage number\n  const match = output.match(/(\\d+)%/);\n\n  if (!match) {\n    return false;\n  }\n\n  const percentage = parseInt(match[1], 10);\n\n  return percentage > 60;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -96
      ],
      "id": "0210c89c-fd50-4bb4-aa03-47d0136a6c88",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "WJJLIOevwzvY1W2J",
          "mode": "list",
          "cachedResultName": "user_actions_for_today",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/WJJLIOevwzvY1W2J"
        },
        "filters": {
          "conditions": [
            {
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1024,
        128
      ],
      "id": "ab572b3a-ff35-4b18-9e48-a1b4e19dd418",
      "name": "Delete row(s)"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "B29pQgzwJQXtsxJW",
          "mode": "list",
          "cachedResultName": "previous_result",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/B29pQgzwJQXtsxJW"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "analysis": "={{ $json.output }}",
            "constraints": "={{ JSON.stringify($('Code in JavaScript3').item.json.actions, null, 2) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "constraints",
              "displayName": "constraints",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1008,
        -224
      ],
      "id": "c4a4662c-cca1-46e2-9541-56142dbeb0c9",
      "name": "Insert row3"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "B29pQgzwJQXtsxJW",
          "mode": "list",
          "cachedResultName": "previous_result",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/B29pQgzwJQXtsxJW"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "analysis",
              "keyValue": "={{ $('Code in JavaScript1').item.json.output }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.data.values()[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        -80
      ],
      "id": "21134836-b791-4d0d-9f78-3adbf67deb7c",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### Task1 \nExecute Get rows if valid data found return the previous response\n## Validate and if not correct improve the response from  {{ $('AI Agent').item.json.output }}\nusing previous state reponse and correct based on current state response {{ $('Loop Over Items').item.json.actions[0] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1456,
        224
      ],
      "id": "fb19b0fa-cafa-4948-8ab5-1dda747e2bf7",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "B29pQgzwJQXtsxJW",
          "mode": "list",
          "cachedResultName": "previous_result",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/B29pQgzwJQXtsxJW"
        }
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1.1,
      "position": [
        1600,
        432
      ],
      "id": "55efd70f-3bdf-4a2e-b933-71a9dbd694db",
      "name": "Get row(s) in Data table"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1440,
        448
      ],
      "id": "605c311e-f0e5-4334-8aeb-4ff47cc43c9f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "B29pQgzwJQXtsxJW",
          "mode": "list",
          "cachedResultName": "previous_result",
          "cachedResultUrl": "/projects/eKJr1fvOLQNBKwuo/datatables/B29pQgzwJQXtsxJW"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "analysis",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "analysis",
              "condition": "neq",
              "keyValue": "null"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1264,
        224
      ],
      "id": "5cc1b4a3-9181-401f-835d-7e27cd6c260e",
      "name": "Get row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d02132f5-f0de-42cf-a785-862045e346e1",
              "leftValue": "={{ $('AI Agent').item.json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        720
      ],
      "id": "57ea6d84-8cd5-4692-99fd-f4acbf17f9b4",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Get row(s)1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "dd7bce96-941f-451c-96e4-f5a91b00b3c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78cb4c7e6760dfc6f19185dc866dd3fef6bb608dbb5e1cbc71536689bb8f9e1f"
  },
  "id": "SxTunsi5LuAUKmHr",
  "tags": []
}